.FlexibleTchat {
  display: flex ;
  flex-direction: column ;
  flex-wrap: nowrap ;
  justify-content: center ;
  align-items: center ;
  align-content: center ;
}

.TaperMessage{
  display: flex ;
  flex-direction: column ;
  flex-wrap: nowrap ;
  justify-content: center ;
  align-items: center ;
  align-content: center ;
}

.TitleDiscuss {
  margin: 10px 0
}
