.FlexibleTchat {
  display: flex ;
  flex-direction: column ;
  flex-wrap: nowrap ;
  justify-content: center ;
  align-items: center ;
  align-content: center ;
}

.TaperMessage{
  display: flex ;
  flex-direction: row ;
  flex-wrap: nowrap ;
  justify-content: space-around ;
  align-items: center ;
  align-content: center ;
  width: 100%;
  margin-top: 10px;
}

.TitleDiscuss {
  margin: 10px 0
}

.EcrireMessageField {
  width: 75%;
}
