:host{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: nowrap;
}

.TaperMessage{
  display: flex ;
  flex-direction: row ;
  flex-wrap: nowrap ;
  justify-content: space-around ;
  align-items: center ;
  align-content: center ;
  width: 100%;
  margin-top: 10px;
}
