form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 25px;
  width: 50%;
  background-color: #EFE1CE;
}

button#submit {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}


.titreForm {
  font-size: 21pt;
  margin:10px 0;
}
