.AppTchatSystem{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
}


.AllUpperBlocks{
  display: flex ;
  flex-direction: row ;
  flex-wrap: nowrap ;
  justify-content: center ;
  align-items: center ;
  align-content: center ;
  height: 150px;
}

.selectorButton {
  display: flex ;
  flex-direction: row ;
  flex-wrap: nowrap ;
  justify-content: center ;
  align-items: center ;
  align-content: center ;
  height: 70px;
}

.AllLowerBlocks {
  display: flex ;
  flex-direction: row ;
  flex-wrap: nowrap ;
  justify-content: center ;
  align-items: center ;
  align-content: center ;
  margin-top: 150px;
}
