<div class="LeftColumnSide">
  <div class="CommandeCard">
    <div *ngIf="this.AcS.id !== this.RS.id">{{ this.as.usernameToken }}</div>
    <button (click)="this.openManageRoom()" mat-stroked-button color="primary"
            *ngIf="this.router.url.includes('discuss') && (this.AcS.id === this.RS.id)">
      Gérer groupe
    </button>
    <button mat-stroked-button color="primary" (click)="this.openCreateRoom()">Créer groupe</button>
  </div>
  <app-room-card-list></app-room-card-list>
</div>
<div class="DividerSide">
  <mat-divider [vertical]="true"></mat-divider>
</div>
<div class="DiscussSide">
  <router-outlet></router-outlet>
</div>
