:host{
  flex: 1 1 auto;
}

.TchatScroll {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.RoomCard{
  height: 60px;
}


.ListeRooms .mat-list-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
