<cdk-virtual-scroll-viewport itemSize="60" class="TchatScroll">
  <mat-selection-list [multiple]="false">
        <mat-list-option class="ListeRooms" *cdkVirtualFor="let grp of this.ListofRooms" routerLink="discuss/{{grp.id}}">
          <div class="roomname">{{ grp.name }}</div>
          <button *ngIf="this.AS.isOwnerByUnknownIdRoom(grp.id)" (click)="this.createDeleteDialog()" mat-mini-fab color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-option>
  </mat-selection-list>
</cdk-virtual-scroll-viewport>

