<cdk-virtual-scroll-viewport itemSize="60" class="TchatScroll">
  <mat-selection-list [multiple]="false">
        <mat-list-option class="ListeRooms" *cdkVirtualFor="let grp of this.AccS.RoomList" routerLink="discuss/{{grp.id}}">
          <div>{{grp.name}}</div>
          <!--<button mat-stroked-button color="primary">test</button>-->
        </mat-list-option>
  </mat-selection-list>
</cdk-virtual-scroll-viewport>


  <!--<div class="RoomCard" *cdkVirtualFor="let grp of this.ListofRooms">
    <div class="UpperRoomCard">
      <div class="bold">{{ grp.name }}</div>
      <div class="fewGrey">01/01/2021</div>
    </div>  Voir https://material.angular.io/components/list/examples
    <div class="fewGrey LowerRoomCard">
      Last message...
    </div>
  </div>-->

