<cdk-virtual-scroll-viewport itemSize="60" class="TchatScroll">
  <mat-selection-list [multiple]="false">
        <mat-list-option class="ListeRooms" *cdkVirtualFor="let grp of this.ListofRooms" routerLink="discuss/{{grp.id}}">
          <div class="roomname">{{ grp.name }}</div>
          <button *ngIf="this.AS.isOwnerByUnknownIdRoom(grp.id)" (click)="this.createDeleteDialog()" mat-mini-fab color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-option>
  </mat-selection-list>
</cdk-virtual-scroll-viewport>


  <!--<div class="RoomCard" *cdkVirtualFor="let grp of this.ListofRooms">
    <div class="UpperRoomCard">
      <div class="bold">{{ grp.name }}</div>
      <div class="fewGrey">01/01/2021</div>
    </div>  Voir https://material.angular.io/components/list/examples
    <div class="fewGrey LowerRoomCard">
      Last message...
    </div>
  </div>-->

