:host{
  flex: 1 1 auto;
}

.TchatScroll {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.RoomCard{
  height: 60px;
}

:host ::ng-deep .roomname{
  font-size: 10px !important;
  font-weight: bold !important;
}

:host ::ng-deep .ListeRooms{
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;
}

:host ::ng-deep .ListeRooms div{
  width: 100% !important;
  padding: 0 5px !important;
}

:host ::ng-deep .ListeRooms div .mat-list-text{
  width: 100% !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  flex-direction: row;
}
