<form [formGroup]="this.CreateRoom">
  <mat-form-field class="input-creation-area">
    <mat-label>Nom du nouveau groupe</mat-label>
    <input matInput placeholder="nom..." formControlName="RoomNameInput">
  </mat-form-field>
  <div class="button-area">
    <button mat-mini-fab color="primary" (click)="this.confirmCreation()"><mat-icon>comment_bank</mat-icon></button>
    <button mat-mini-fab color="basic" (click)="this.cancelCreation()"><mat-icon>cancel</mat-icon></button>
  </div>
  <div [hidden]="true">Message alerte.</div>
</form>
