<mat-tab-group mat-stretch-tabs class="flex-nav">
  <mat-tab class="rechercher-membre" label="Ajouter membre">
    <form class="FormAddMemberRoom" [formGroup]="this.AddUserInRoom" (submit)="this.searchMemberToAdd()">
      <mat-form-field class="addMemberRoom">
        <mat-label>Recherche</mat-label>
        <input matInput type="search" formControlName="rechmember" id="searchnametoadd">
      </mat-form-field>
      <button mat-mini-fab class="btnAddMemberRoom">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </mat-tab>
  <mat-tab class="suppression-membre" label="Supprimer membre">
    <mat-chip-list class="liste-membres-chips" *ngFor="let mem of this.RS.members">
      <mat-chip>
        {{ mem.pseudo }}<mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <!--<form class="FormAddMemberRoom" [formGroup]="this.RemoveUserInRoom" (submit)="this.searchMemberToAdd()">
      <mat-form-field>
        <mat-label>Membres supprimables:</mat-label>
        <mat-chip-list *ngFor="let mem of this.RS.members" formControlName="supprmember">
          <mat-chip *ngIf="mem.pseudo !== this.AS.pseudo" (removed)="this.RemoveMemberChip()">
            {{ mem.pseudo }}<mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input matInput type="text" id="suppression">
        </mat-chip-list>
      </mat-form-field>
    </form>-->
  </mat-tab>
</mat-tab-group>
