<mat-tab-group mat-stretch-tabs class="flex-nav">
  <mat-tab class="rechercher-membre" label="Ajouter membre">
    <form class="FormAddMemberRoom" [formGroup]="this.AddUserInRoom" (submit)="this.searchMemberToAdd()">
      <mat-form-field class="addMemberRoom">
        <mat-label>Recherche</mat-label>
        <input matInput type="search" formControlName="rechmember" id="searchnametoadd">
      </mat-form-field>
      <button mat-mini-fab class="btnAddMemberRoom">
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <div style="color:red;" *ngIf="this.RS.MsgHttpWarning !== ''">{{ this.RS.MsgHttpWarning }}</div>
    <!--<div style="color:green;" *ngIf="this.RS.MsgHttpWarning === ''">{{ this.RS.MsgHttpWarning }}</div>-->
  </mat-tab>
  <mat-tab class="suppression-membre" label="Supprimer membre">
    <mat-chip-list class="liste-membres-chips">
      <mat-chip *ngFor="let mem of this.RS.members" [disabled]="this.AS.id === mem.id" (removed)="this.RemoveMemberChip(mem)">
        {{ mem.pseudo }}<mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-tab>
</mat-tab-group>
