:host{
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around ;
  align-items: center ;
  align-content: center ;
  width:100%;
  flex: 0 0 90%;
}


.TchatScroll {
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid #ffbc77;
}

.example-item {
  height: 50px;
}

.Bubble {
  margin: 5px 0;
  width: 100%;
}

.bold {
  font-weight: bold;
}
